<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  
  <parameter name="userPassword" value="nEzUpEv"/>
 
   <parameter name="userId" value="mngr510235"/>

  
  
    <classes>
      <!--class name="indium.Project.AppTest"/-->
      <!--class name="indium.Project.LoginTest"/-->
      <class name="indium.Project.NewCustomerButtonTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
